<app-navigation></app-navigation>

<div class="container px-4 py-5" id="custom-cards">
  <h1 class="pb-2 Welcome">Welcome dear User</h1>
  <h2 class="pb-2 border-bottom">Maintenance</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('/assets/Students.jpg/')"
      >
        <div
          class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
          (click)="redirectToStudents()"
        >
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Students</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="assets/Procesos-Digitales-Logo.jpeg"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>Cruz Saco</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('/assets/Courses.jpeg')"
      >
        <div
          class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
          (click)="redirectToCourses()"
        >
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Courses</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="assets/Procesos-Digitales-Logo.jpeg"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>Cruz Saco</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('/assets/Classrooms.jpg')"
      >
        <div
          class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1"
          (click)="redirectToClassrooms()"
        >
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Classrooms</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="assets/Procesos-Digitales-Logo.jpeg"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>Cruz Saco</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background-image: url('/assets/Grades.jpg')"
      >
        <div
          class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1"
          (click)="redirectToGrades()"
        >
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Grades</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="assets/Procesos-Digitales-Logo.jpeg"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>Cruz Saco</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
