.registrationForm {
  padding-left: 32%;
  padding-right: 35%;
  margin-top: 10%;
}

.classroomsTable {
  padding-left: 32%;
  padding-right: 35%;
  margin-top: 10%;
}

/* CSS PARA LA FLECHA */
.arrow-left {
  cursor: pointer;
  height: 5vw; /* Utilizamos una unidad relativa "vw" para el tamaño de la flecha */
  position: absolute;
  top: 50%; /* Centramos verticalmente la flecha */
  transform: translateY(-50%);
  transition: transform 0.1s;
  width: 3.33vw; /* Utilizamos una unidad relativa "vw" para el tamaño de la flecha */
  left: 2vw; /* Utilizamos una unidad relativa "vw" para el posicionamiento lateral */
}

.arrow-top,
.arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after,
.arrow-bottom:after {
  background-color: #ffffffc2;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom left; /* Modificamos el punto de origen de la rotación */
}

.arrow-top:after {
  left: 0; /* Cambiamos el punto de origen de la transición */
  right: 100%;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top left; /* Modificamos el punto de origen de la rotación */
}

.arrow-bottom:after {
  left: 100%; /* Cambiamos el punto de origen de la transición */
  right: 0;
  transition-delay: 0.15s;
}

.arrow-left:hover .arrow-top:after {
  right: 0; /* Cambiamos la dirección de la transición */
  transition-delay: 0.15s;
}

.arrow-left:hover .arrow-bottom:after {
  left: 0; /* Cambiamos la dirección de la transición */
  transition-delay: 0s;
}

.arrow-left:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

/* Estilos para la flecha cuando el navegador es más pequeño */
@media screen and (max-width: 768px) {
  .arrow {
    height: 8vw; /* Ajustamos el tamaño de la flecha para pantallas más pequeñas */
    width: 6vw; /* Ajustamos el tamaño de la flecha para pantallas más pequeñas */
    left: 2vw; /* Ajustamos el posicionamiento lateral para pantallas más pequeñas */
  }
}

/* Estilos para la flecha cuando el navegador es aún más pequeño */
@media screen and (max-width: 576px) {
  .arrow {
    height: 10vw; /* Ajustamos el tamaño de la flecha para pantallas más pequeñas */
    width: 8vw; /* Ajustamos el tamaño de la flecha para pantallas más pequeñas */
    left: 1vw; /* Ajustamos el posicionamiento lateral para pantallas más pequeñas */
  }
}
/* CSS PARA LA FLECHA DERECHA */
.arrow-right {
  cursor: pointer;
  height: 5vw; /* Utilizamos una unidad relativa "vw" para el tamaño de la flecha */
  position: absolute;
  top: 50%; /* Centramos verticalmente la flecha */
  transform: translateY(-50%);
  transition: transform 0.1s;
  width: 3.33vw; /* Utilizamos una unidad relativa "vw" para el tamaño de la flecha */
  right: 2vw; /* Utilizamos una unidad relativa "vw" para el posicionamiento lateral en el lado derecho */
}

.arrow-right-top,
.arrow-right-bottom {
  background-color: #666;
  height: 4px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-right-top:after,
.arrow-right-bottom:after {
  background-color: #ffffffc2;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-right-top {
  transform: rotate(-45deg);
  transform-origin: bottom right; /* Modificamos el punto de origen de la rotación */
}

.arrow-right-top:after {
  left: 100%; /* Cambiamos el punto de origen de la transición */
  right: 0;
  transition-delay: 0.15s;
}

.arrow-right-bottom {
  transform: rotate(45deg);
  transform-origin: top right; /* Modificamos el punto de origen de la rotación */
}

.arrow-right-bottom:after {
  left: 0; /* Cambiamos el punto de origen de la transición */
  right: 100%;
  transition-delay: 0s;
}

.arrow-right:hover .arrow-right-top:after {
  left: 0; /* Cambiamos la dirección de la transición */
  transition-delay: 0s;
}

.arrow-right:hover .arrow-right-bottom:after {
  right: 0; /* Cambiamos la dirección de la transición */
  transition-delay: 0.15s;
}

.arrow-right:active {
  transform: translateX(50%) translateY(-50%) scale(0.9);
}

/* Estilos para la flecha derecha cuando el navegador es más pequeño */
@media screen and (max-width: 768px) {
  .arrow-right {
    height: 8vw; /* Ajustamos el tamaño de la flecha para pantallas más pequeñas */
    width: 6vw; /* Ajustamos el tamaño de la flecha para pantallas más pequeñas */
    right: 2vw; /* Ajustamos el posicionamiento lateral para pantallas más pequeñas */
  }
}

/* Estilos para la flecha derecha cuando el navegador es aún más pequeño */
@media screen and (max-width: 576px) {
  .arrow-right {
    height: 10vw; /* Ajustamos el tamaño de la flecha para pantallas más pequeñas */
    width: 8vw; /* Ajustamos el tamaño de la flecha para pantallas más pequeñas */
    right: 1vw; /* Ajustamos el posicionamiento lateral para pantallas más pequeñas */
  }
}
