<app-navigation></app-navigation>

<div class="arrow-left" (click)="volver()">
  <div class="arrow-top"></div>
  <div class="arrow-bottom"></div>
</div>

<div class="arrow-right" (click)="siguiente()">
  <div class="arrow-right-top"></div>
  <div class="arrow-right-bottom"></div>
</div>
  
  
  <div class="formularioRegistro">
    <h2>Registrar</h2>
    <h2>AULA</h2>
    <br />
  
    <form [formGroup]="aulaForm" (ngSubmit)="guardar()">
      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput" class="form-label">Nivel</label>
          <input
            type="text"
            formControlName="nivel"
            class="form-control"
            placeholder="Ingrese el nivel"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput" class="form-label">Sección</label>
          <input
            type="text"
            formControlName="seccion"
            class="form-control"
            placeholder="Ingrese su sección"
          />
        </div>
      </div>
      <br />
  
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="aulaForm.invalid"
      >
        Guardar
      </button>
    </form>
  </div>
  
  <div class="tableAulas">
    <div class="table-responsive">
      <h2>Aulas registrados</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nivel</th>
            <th>Sección</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of aulas">
            <td>{{ item.idAula }}</td>
            <td>{{ item.nivel }}</td>
            <td>{{ item.seccion }}</td>
            <button
              type="button"
              class="btn btn-success"
              (click)="actualizar(item)"
            >
              Editar
            </button>
            <button type="button" class="btn btn-danger" (click)="eliminar(item)">
              Eliminar
            </button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
